.plano-fundo {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.mydiv {
    width: 600px;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tam {
    height: 10px;
    width: 15px;
}

.row-card {
    padding             : 15px;
    margin              : 10px 0 10px 0; 
    border-radius       : 10px;
    background-color    : #4F4F4F 
}

.font-size-12 {
    font-size: 12px;    
}

.font-size-14 {
    font-size: 14px;    
}

.font-size-16 {
    font-size: 16px;    
}

.font-size-18 {
    font-size: 18px;    
}

.font-size-20 {
    font-size: 20px;    
}

.texto-cinza-medio {
    color: #333;
}

.texto-cinza-claro {
    color: #777;
}

.negrito {
    font-weight: 500;
}
#footer{    
    background: #3C948B;
    position:absolute;
    bottom:0; 
    width:100%;
    margin-top: 10px;
}

.painel-titulo {
    text-align      : center;
    margin-left     : auto;
    margin-right    : auto;
    background      : linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}
.painel-corpo {
    text-align      : center;
}
.texto-vermelho {
    color      : #FFFF00;
    font-size  : 30px;
    font-weight: bold; 
}
.fundo {
 background: rgb(2,0,36);
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,79,121,1) 43%, rgba(10,117,6,1) 100%);
}
.md-headline {
    color       : #ffffff;
    font-size   : 30px; 
}
.md-subhead {
    color       : #CDC9C9;
}