<form name="vm.form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="texto-branco">Dados Visita</h2>
                    <span flex></span>
                        <div class="texto-erro"  ng-show="!vm.dataset.pessoaId">
                            <md-button ng-click="vm.novoVisitante(vm.dataset)">
                                <md-icon md-svg-src="assets/img/warning.svg"></md-icon></md-icon>
                            </md-button>
                                {{vm.dataset.nome_Convidado}} Não está cadastrado!
                        </div>
            </div>
        </md-toolbar>
    
            <md-dialog-content>
                <div class="md-dialog-content">
                    <md-content layout-padding>
                        <div layout-gt-sm="row">
                            <md-input-container class="data-picker-alinhado-esquerda">
                                <label>Data</label>
                                    <md-datepicker ng-model="vm.dataset.data_Hora_Reserva" md-open-on-focus required ng-disabled="true"></md-datepicker>
                            </md-input-container>
    
                            <span flex></span>
                
                            <md-input-container>
                                <md-tooltip>Hora</md-tooltip>
                                    <md-icon md-svg-src="assets/img/clock.svg" aria-label="Close dialog"></md-icon>
                                        <label>Hora</label>
                                            <input type="time" ng-model="vm.dataHora" ng-value="vm.dataset.data_Hora_Reserva | date: 'HH:mm'" ng-disabled="true">
                            </md-input-container>
    
                        </div>
                        
                        <div layout-gt-sm="row">
                        
                            <md-input-container>
                                <md-tooltip>Visitante {{vm.dataset.nome_Convidado}}</md-tooltip>
                                    <md-icon md-svg-src="assets/img/user.svg" aria-label="Close dialog"></md-icon>
                                        <label>Visitante</label>
                                            <input type="text" ng-model="vm.dataset.nome_Convidado" ng-disabled="true">
                            </md-input-container>
                        </div>
                            
                
                            <md-input-container class="md-block">
                                <label>Obeservação</label>
                                    <textarea ng-model="vm.dataset.condomino_Observacao" ng-disabled="true"></textarea>
                            </md-input-container>
    
                                <div>
            
                                    <md-input-container>
                                        <label>Situacão</label>
                                            <md-select ng-model="vm.dataset.situacao" required ng-disabled="true">
                                                <md-option value="2">Liberar</md-option>
                                                <md-option value="5">Negar</md-option>
                                            </md-select>
                                    </md-input-container>
    
                                </div>
    
                                    <md-input-container class="md-block">
                                        <label>Obeservação Portaria</label>
                                            <textarea ng-model="vm.dataset.portaria_Observacao" ng-disabled="true"></textarea>
                                    </md-input-container>
    
                                        <div layout="row" layout-align="center center">
                                            <md-button type="submit" ng-click="vm.form.$valid && vm.salvaVisita()" class="md-fab md-primary" ng-disabled="true">
                                                <md-tooltip>Salvar</md-tooltip>
                                                    <md-icon md-svg-src="assets/img/save.svg"></md-icon>
                                            </md-button>
                                        </div>
    
                    </md-content>
            </md-dialog-content>
    </form>
            
                  