<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">

  <link rel="stylesheet" href="./estilo.css">

  <!-- Toast -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

  
</head>

<body ng-app="appAula" ng-cloak>  
	

	<div ng-controller="PessoaController" layout="row" flex="" layout-fill="" >
		
		<div layout="row">
			<!-- Lista todas as pessoas -->
			<table>
				<tr style="background-color: #cccc;">
					<td style="width: 200px; font-weight: 600;">Nome</td>
					<td style="width: 80px; font-weight: 600;">Idade</td>
					<td style="width: 80px; font-weight: 600;"></td>
				</tr>	
				<tr ng-repeat="pessoa in vm.dsLista.data" ng-class="{'linha-cinza': $odd}">
					<td style="width: 200px;">{{pessoa.nome}}</td>
					<td style="width: 80px;">{{pessoa.idade}}</td>
					<td style="width: 80px;">
						
						<div layout="row">
							<md-button class="md-fab md-mini md-primary md-warn" 
								aria-label="Excluir" ng-click="vm.excluir($event, pessoa)">
	          					<md-icon md-svg-src="img/delete.svg"></md-icon>
	        				</md-button>

	        				<md-button class="md-fab md-mini md-primary" 
								aria-label="Editar" ng-click="vm.editarCliente(pessoa)">
	          					<md-icon md-svg-src="img/edit.svg"></md-icon>
	        				</md-button>	
						</div>
						
					</td>
				</tr>	
			</table>

			<!-- Formulario de cadastro das pessoas -->
			<div>
				<md-card class="md-whiteframe-15dp me-100" >
					
					<md-toolbar class="md-hue-2">
				      <div class="md-toolbar-tools">
				        <h2>Cadastro de pessoas</h2>
				      </div>
				    </md-toolbar>

					
				    <div layout="column">
				    	<form name="vm.formPessoa" class="formulario" layout="row">
				      	
					      	<md-input-container flex="80">
					          <label>Nome pessoa</label>
					          <input name="nome" ng-model="vm.dataset.nome" required>		
					          <div ng-messages="vm.formPessoa.nome.$error">
					            	<div ng-message="required">Este campo é obrigatório</div>
					          </div>	          
					        </md-input-container>

					        <md-input-container>
					          <label>Idade</label>
					          <input name="idade" type="number" ng-model="vm.dataset.idade" required>
					          <div ng-messages="vm.formPessoa.pessoa.$error">
					            	<div ng-message="required">Este campo é obrigatório</div>
					          </div>			          
					        </md-input-container>

	    				</form>

	    				<div layout=row>
	    					<md-button flex class="md-raised md-primary md-hue-2 botao-salvar" 	ng-click="vm.salvaDados()" ng-disabled="vm.formPessoa.$invalid">
	    					Salvar
	    					</md-button>

		    				<md-button flex class="md-raised md-warn md-hue-2 botao-salvar" ng-click="vm.limpaDados()" ng-disabled="!vm.dataset.id">
		    					Cancelar
		    				</md-button>	
	    				</div>	

	    					
				    </div>
					

				</md-card>

				
			</div>			
		</div>	  
	</div>

  
  

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-resource.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

  <!-- TOASTR notificador -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js" 
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  
  

  <!-- Nossa aplicacao  -->

  <script type="text/javascript">    
    
    angular.module('appAula', ['ngMaterial', 'ngMessages', 'ngResource']);


  </script>

  <script src="./pessoaController.js"></script>

</body>
</html>