<form ng-cloak  name="vm.form">
  <md-toolbar>
    <div class="md-toolbar-tools">
     <h2 class="texto-branco">Nova Visita</h2>
      <span flex></span>
    </div>
      </md-toolbar>
        <md-dialog-content>
         <div class="md-dialog-content">
           <md-content layout-padding>
             <div layout-gt-sm="row">
               <md-input-container style="margin-right: 150px;">
                 <label>Data</label>
                   <md-datepicker ng-model="vm.dataset.dataHoraReserva" md-open-on-focus required></md-datepicker>
               </md-input-container>
            
               <md-input-container>
                 <md-icon md-svg-src="../../../assets/img/clock.svg" aria-label="Close dialog" style="margin-right: 50px;"></md-icon>
                   <label>Hora</label>
                     <input type="time" ng-model="vm.dataset.dataHoraReserva" ng-value="vm.dataset.dataHoraReserva | date: 'HH:mm'">
               </md-input-container>
             </div>
             <div layout-gt-sm="row" style="margin-left: 1px;">
               <md-icon md-svg-src="../../../assets/img/user.svg" class="usuario"></md-icon>
                 <md-input-container class="md-block" flex-gt-xs>
                   <label>Nome</label>
                     <md-autocomplete flex required
                       md-selected-item="vm.query.item" 
                       md-search-text-change="searchTextChange(vm.dataset.nomeConvidado)"
                       md-search-text="vm.dataset.nomeConvidado"
                       md-selected-item-change="vm.dados(pessoa)"
                       md-items="convidado in vm.carregaConvidados(vm.dataset.nomeConvidado)"
                       md-item-text="convidado.pessoa.nome">
                         <md-item-template>
                           <span md-highlight-text="vm.dataset.nomeConvidado">{{convidado.pessoa.nome}}</span>
                         </md-item-template>
                     </md-autocomplete>
                 </md-input-container>
             </div>
             <!--Tab para exibir contatos favoritos-->
             <md-content class="md-padding">
               <md-tabs class="md-accent" md-selected="data.selectedIndex">
                 <md-tab id="favoritos">
                   <md-tab-label><md-icon md-svg-src="../../../assets/img/star.svg"></md-icon></md-tab-label>
                     <md-tab-body>
                       <div ng-repeat="favorito in vm.carregaConvidados" layout="row" layout-xs="column">  
                         <md-content class="md-padding">
                           <div flex>
                             <md-card ng-if="favorito.favorito">
                               <md-card-header>
                                 <md-card-avatar>
                                   <md-icon md-svg-src="../../../assets/img/user.svg"></md-icon>
                               </md-card-avatar>
                                 <md-card-header-text>
                                   <span class="md-title">{{favorito.pessoa.pessoa}}</span>
                                     <span class="md-subhead">Favorito</span>
                                 </md-card-header-text>
                               </md-card-header>
                                 <md-card-actions layout="row" layout-align="start center">
                                   <md-card-icon-actions>
                                     <md-button class="md-icon-button" aria-label="toggle">
                                       <md-icon ng-click="vm.dados(favorito)" md-svg-icon="../../../assets/img/success.svg"></md-icon>
                                     </md-button>
                                       <md-button class="md-icon-button" aria-label="toggle">
                                         <md-icon md-svg-icon="../img/../../assets/remove-user.svg"></md-icon>
                                       </md-button>
                                  </md-card-icon-actions>
                                 </md-card-actions>
                             </md-card>
                           </div>
                         </md-content>
                       </div>
                     </md-tab-body>
                 </md-tab>
                 <!--Tab para exibir os demais contatos-->        
                 <md-tab id="todos" ng-disabled="data.secondLocked">
                   <md-tab-label>MEUS CONTATOS</md-tab-label>
                     <md-tab-body>
                       <div ng-repeat="convidado in vm.carregaConvidados" layout="column" layout-xs="column">  
                         <md-content class="md-padding">
                           <div flex>
                             <md-card>
                               <md-card-header>
                                 <md-card-avatar>
                                   <md-icon md-svg-src="../../../assets/img/user.svg"></md-icon>
                                 </md-card-avatar>
                                   <md-card-header-text>
                                     <span class="md-title">{{convidado.pessoa.nome}}</span>
                                     <span class="md-subhead">Favorito</span>
                                   </md-card-header-text>
                               </md-card-header>
                                 <md-card-actions layout="row" layout-align="start center">
                                   <md-card-icon-actions>
                                     <md-button class="md-icon-button" aria-label="toggle">
                                       <md-icon ng-click="vm.dados(convidado)" md-svg-icon="../../../assets/img/success.svg"></md-icon>
                                     </md-button>
                                       <!--Botão para adicionar aos favoritos-->
                                       <md-button class="md-icon-button" aria-label="toggle">
                                         <md-icon ng-click="vm.favoritar(convidado)" md-svg-icon="../../../assets/img/favorite.svg"></md-icon>
                                       </md-button>
                                   </md-card-icon-actions>
                                 </md-card-actions>
                             </md-card>
                           </div>
                         </md-content>
                       </div> 
                     </md-tab-body>
                 </md-tab>
               </md-tabs>
             </md-content>    

        <md-input-container class="md-block">
        <label>Obeservação</label>
        <textarea ng-model="vm.dataset.condominoObservacao"></textarea>
        </md-input-container>

                <div>
                <center>
                    <md-button type="reset" class="md-warn">Limpar</md-button>
                    <span flex></span>
                    <md-button type="submit" ng-click="vm.form.$valid && vm.salvaVisita()" class="md-fab md-primary" aria-label="Salvar Dados">
                    <md-icon md-svg-src="../../../assets/img/save.svg"></md-icon>
                    </md-button>
                </center>
                </div>

           </md-content>
        
    </md-dialog-content>
</form>

      