<div layout="column" flex layout-fill>
  <div layout="row" layout-align="start">
    <md-button aria-label="Nova Visita"  ng-click="vm.novaVisita()">
      <md-tooltip>Nova Visita</md-tooltip>
        <md-icon md-svg-src="assets/img/nova-visita.svg" aria-label="Nova Visita" class="nova-vista-button"></md-icon>
    </md-button>

    <span flex></span>

    <md-fab-speed-dial md-open="vm.isOpen" md-direction="{{vm.selectedDirection}}" ng-class="vm.selectedMode">
      
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
          <md-tooltip>Filtrar Visitas</md-tooltip>
            <md-icon md-svg-src="assets/img/menu.svg"></md-icon>
        </md-button>
      </md-fab-trigger>

        <md-fab-actions>

          <md-button ng-click="vm.filtraVisita('Liberada')" aria-label="Confirmadas" class="md-fab md-raised md-mini">
            <md-tooltip>Visitas Liberadas</md-tooltip> 
              <md-icon md-svg-src="assets/img/Liberada.svg" aria-label="Twitter"></md-icon>
          </md-button>
          
          <md-button ng-click="vm.filtraVisita('Negada')" aria-label="Negadas" class="md-fab md-raised md-mini">
            <md-tooltip>Visitas Negadas</md-tooltip> 
              <md-icon md-svg-src="assets/img/Negada.svg" aria-label="Google Hangout"></md-icon>
          </md-button>
          
          <md-button ng-click="vm.filtraVisita('Cancelada')" aria-label="Negadas" class="md-fab md-raised md-mini">
            <md-tooltip>Visitas Canceladas</md-tooltip>
              <md-icon md-svg-src="assets/img/Cancelada.svg" aria-label="Google Hangout"></md-icon>
          </md-button>
        
          <md-button ng-click="vm.filtraVisita('Expirada')" aria-label="Negadas" class="md-fab md-raised md-mini">
            <md-tooltip>Visitas Expiradas</md-tooltip>
              <md-icon md-svg-src="assets/img/Expirada.svg" aria-label="Google Hangout"></md-icon>
          </md-button>
          
          <md-button ng-click="vm.filtraVisita('')" aria-label="Todas" class="md-fab md-raised md-mini">
            <md-tooltip>Listar Todas</md-tooltip>
            <md-icon md-svg-src="assets/img/visitas-todas.svg" aria-label="Google Hangout"></md-icon>
          </md-button>
       
        </md-fab-actions>
    </md-fab-speed-dial>    
  </div>

  <div layout="row" layout-align="end end">
    <span>Pesquisando {{vm.query.text ? vm.query.text : null}} em: {{vm.situacao ? vm.situacao : 'Toda'}}s</span>
  </div>

    <div layout="row" layout-align="center center" ng-if="(vm.dataset | filter: vm.situacao).length == 0">
      <span class="notFound">Nenhuma visita encontrada!</span>
        <br>
          <img ng-src="assets/img/not-found.svg" class="img-404">
    </div>

      <md-card class="row-card md-whiteframe-20dp" ng-repeat="visita in vm.dataset | filter: vm.situacao">
        <div layout="row" ng-if="visita">
          <div layout="row" flex="20" layout-align="center center">
            <md-tooltip>Visita {{visita.situacao}}</md-tooltip>
              <img ng-src="assets/img/{{visita.situacao}}.svg" style="width: 64px; height: 64px;">
          </div>

          <div layout="column" flex>
            <div layout="row">
              <span flex></span>
                <md-menu>
                  <md-button class="md-icon-button" ng-click="$mdMenu.open($event)" ng-disabled="visita.situacao != 'Agendada'">
                    <md-tooltip>Editar Visita</md-tooltip>
                      <md-icon md-svg-src="assets/img/edit.svg"></md-icon>                       
                  </md-button>
                  
                    <md-menu-content width="3">
                      <md-menu-item>
                        <md-button ng-click="vm.editar(visita.id)"> Editar </md-button>
                      </md-menu-item>
                    </md-menu-content>
                
                </md-menu>
                  
                <md-menu>
                  <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <md-tooltip>Cancelar Visita</md-tooltip>
                      <md-icon md-svg-src="assets/img/more-geen.svg"></md-icon>                      
                  </md-button>
                    
                    <md-menu-content width="3">
                      <md-menu-item>
                        <md-button ng-click="vm.cancelar($event, visita)"> Cancelar </md-button>
                      </md-menu-item>
                    </md-menu-content>
                 
                  </md-menu>
                
            </div>
            
            <div layout="column" layout-align="start start">
              <span class="font-size-18 texto-marcador negrito">Convidado: {{visita.nome_Convidado}}</span>
              <span class="font-size-16 texto-branco">Agendamento: {{visita.data_Hora_Reserva | date : 'dd/MM/yyyy'}}</span>
              <span class="font-size-16 texto-branco">Horário: {{visita.data_Hora_Reserva | date : 'HH:mm'}}</span>
              <span class="font-size-16 texto-branco">Validade: {{visita.data_Hora_Expiracao | date : 'dd/MM/yyyy'}}</span>
              <span class="font-size-16 texto-branco">Validade: {{visita.data_Hora_Expiracao | date : 'HH:mm'}}</span>
              <span class="font-size-16 texto-branco">Observação: {{visita.condomino_Observacao ? visita.condomino_Observacao : 'Nenhuma'}}</span>
              <span class="font-size-16 texto-branco" ng-if="visita.portaria_Observacao">Observação Portaria: {{visita.portaria_Observacao}}</span>
              <span class="font-size-16 texto-branco">Situação: {{visita.situacao}}</span>
            </div>
          </div>
        </div>
      </md-card>
</div> 
    
