<form ng-cloak  name="vm.form">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="texto-branco">Nova Visita</h2>
                <span flex></span>
        </div>
    </md-toolbar>
    
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content layout-padding>
                    <div layout-gt-sm="row">
                        <md-input-container style="margin-right: 150px;">
                            <label>Data</label>
                                <md-datepicker ng-model="vm.dataset.data_Hora_Reserva" md-open-on-focus required></md-datepicker>
                        </md-input-container>
            
                        <md-input-container>
                            <md-tooltip md-direction="left">Fechar</md-tooltip>
                                <md-icon md-svg-src="assets/img/clock.svg" aria-label="Close dialog"></md-icon>
                                    <label>Hora</label>
                                        <input type="time" ng-model="vm.dataHora" ng-value="vm.dataset.data_Hora_Reserva | date: 'HH:mm'">
                        </md-input-container>
                    </div>
                
                    <div layout-gt-sm="row">
                        <md-tooltip md-direction="left">Convidado {{convidado.pessoa.nome}}</md-tooltip>
                            <md-icon md-svg-src="assets/img/user.svg" class="user"></md-icon>
                                <md-autocomplete flex required class="autocomplete"
                                    md-no-cache = "true" 
                                    md-selected-item="vm.query.item"
                                    md-search-text="vm.query.text"
                                    md-items="convidado in vm.carregaConvidados(vm.query.text)"
                                    md-item-text="convidado.pessoa.nome"
                                    md-floating-label="Nome">
                                    
                                        <md-item-template>
                                            <span md-highlight-text="vm.query.text">{{convidado.pessoa.nome}}</span>
                                        </md-item-template>
                                </md-autocomplete>
                    
                    </div>
                
                        <!--Tab para exibir contatos favoritos-->
                        <md-content class="md-padding">
                            <md-tabs class="md-accent" md-selected="data.selectedIndex">
                                <md-tab id="favoritos">
                                    <md-tab-label><md-icon md-svg-src="assets/img/star.svg"></md-icon></md-tab-label>
                                        <md-tab-body>
                                            <div ng-repeat="favorito in vm.dsContatos" ng-if="favorito.favorito" layout="row" layout-xs="column">  
                                        
                                                <md-content class="md-padding">
                                                    <div flex>
                                                        <md-card>
                                                            <md-card-header>
                                                                <md-card-avatar>
                                                                    <md-tooltip md-direction="left">{{favorito.pessoa.nome}}</md-tooltip>
                                                                        <md-icon md-svg-src="assets/img/user.svg"></md-icon>
                                                                </md-card-avatar>
                                                                    <md-card-header-text>
                                                                        <span class="md-title">{{favorito.pessoa.nome}}</span>
                                                                        <span class="md-subhead">Favorito</span>
                                                                    </md-card-header-text>
                                                            </md-card-header>
                                                                <md-card-actions layout="row" layout-align="start center">
                                                                    <md-card-icon-actions>
                                                                        <md-button ng-click="vm.dados(favorito)" class="md-icon-button" aria-label="toggle">
                                                                            <md-icon  md-svg-icon="assets/img/success.svg"></md-icon>
                                                                        </md-button>
                                                                        <md-button ng-click="vm.desfavoritar(favorito)" class="md-icon-button" aria-label="df">
                                                                            <md-icon  md-svg-icon="assets/img/remove-user.svg"></md-icon>
                                                                        </md-button>
                                                                    </md-card-icon-actions>
                                                                </md-card-actions>
                                                        </md-card>
                                                    </div>
                                                </md-content>
                                            </div>
                                        </md-tab-body>
                                </md-tab>
                                <!--Tab para exibir os demais contatos-->        
                                <md-tab id="todos" ng-disabled="data.secondLocked">
                                    <md-tab-label>MEUS CONTATOS</md-tab-label>
                                        <md-tab-body>
                                            <div ng-repeat="convidado in vm.dsContatos" layout="column" layout-xs="column">  
                                                <md-content class="md-padding">
                                                    <div flex>
                                                        <md-card>
                                                            <md-card-header>
                                                                <md-card-avatar>
                                                                    <md-icon md-svg-src="assets/img/user.svg"></md-icon>
                                                                </md-card-avatar>
                                                                    <md-card-header-text>
                                                                        <span class="md-title">{{convidado.pessoa.nome}}</span>
                                                                        <span class="md-subhead">Favorito</span>
                                                                    </md-card-header-text>
                                                            </md-card-header>
                                                                <md-card-actions layout="row" layout-align="start center">
                                                                    <md-card-icon-actions>
                                                                        <md-button ng-click="vm.dados(convidado)" class="md-icon-button" aria-label="toggle">
                                                                            <md-icon  md-svg-icon="assets/img/success.svg"></md-icon>
                                                                        </md-button>
                                                                        <!--Botão para adicionar aos favoritos-->
                                                                        <md-button class="md-icon-button" aria-label="toggle">
                                                                            <md-icon ng-click="vm.favoritar(convidado)" md-svg-icon="assets/img/favorite.svg"></md-icon>
                                                                        </md-button>
                                                                    </md-card-icon-actions>
                                                                </md-card-actions>
                                                        </md-card>
                                                    </div>
                                                </md-content>
                                            </div> 
                                        </md-tab-body>
                                </md-tab>
                            </md-tabs>
                        </md-content>    

                            <md-input-container class="md-block">
                                <label>Obeservação</label>
                                    <textarea ng-model="vm.dataset.condomino_Observacao"></textarea>
                            </md-input-container>

                                <div layout="row" layout-align="center center">
                                    <md-button type="reset" class="md-warn">Limpar</md-button>
                                        <span flex></span>
                                            <md-button type="submit" ng-click="vm.form.$valid && vm.salvaVisita()" class="md-fab md-primary" aria-label="Salvar Dados">
                                                <md-icon md-svg-src="assets/img/save.svg"></md-icon>
                                    </md-button>
                                </div>

                </md-content>
        </md-dialog-content>
</form>
      
            