<form ng-cloak name="vm.form">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="texto-branco">Formulário de Cadastro</h2>
          <span flex></span>
      </div>
    </md-toolbar>
      <br/>
        <md-content class="md-no-momentum">
          
          <md-input-container class="md-block">
            <label>Nome</label>
              <md-tooltip>Nome do Condômino</md-tooltip>
                <md-icon md-svg-src="assets/img/user.svg"></md-icon>
                  <input ng-model="vm.dataset.pessoa.nome" type="text" ng-required="true">
          </md-input-container>
      
          <md-input-container class="md-block">
            <md-tooltip>Somente os números do CPF</md-tooltip>
              <md-icon md-svg-src="assets/img/cpf.svg" class="email"></md-icon>
                <input  name="cpf" ng-model="vm.dataset.pessoa.cpf"  type="text" placeholder="CPF" required ui-br-cpf-mask>
                  <div ng-messages="vm.form.cpf.$error">
                    <div ng-message="required">Informe o CPF</div>
                    <div ng-message="cpf">CPF Inválido</div>
                  </div>
          </md-input-container>
  
          <md-input-container class="md-block">
            <md-tooltip>Logradouro</md-tooltip>
              <md-icon md-svg-src="assets/img/logradouro.svg" class="email"></md-icon>
                <input ng-model="vm.dataset.endereco" type="text" placeholder="Endereço" ng-required="true">
          </md-input-container>
      
          <md-input-container class="md-block data-picker-alinhado-esquerda" >
            <label>Nascimento</label>
              <md-datepicker ng-model="vm.dataset.pessoa.nascimento" md-open-on-focus ng-required="true"></md-datepicker>
          </md-input-container>
          
            <div layout="column">
              <div layout="row">
  
                <md-input-container class="md-block">
                  <md-tooltip>Endereço de Email</md-tooltip>
                    <md-icon md-svg-src="assets/img/email.svg" class="email"></md-icon>
                      <input ng-model="vm.dataset.usuario.email" type="email" placeholder="Email" ng-required="true">
                </md-input-container>
      
                <span flex></span>
      
                <md-input-container class="md-block">
                  <md-tooltip>Senha</md-tooltip>
                    <md-icon md-svg-src="assets/img/lock.svg" class="email"></md-icon>
                      <input name="senha" ng-model="vm.dataset.usuario.senha" type="{{vm.tipo}}" placeholder="Senha">
                </md-input-container>
                
                <span flex></span>

                <md-input-container class="md-block">
                  <md-tooltip>Repita a Senha</md-tooltip>
                    <md-icon md-svg-src="assets/img/lock.svg" class="email"></md-icon>
                      <input name="confirmaSenha" ng-model="vm.confirmaSenha" type="{{vm.tipo}}" placeholder="Repita a Senha" ng-pattern="vm.dataset.usuario.senha" ng-required="true">
                        <div ng-messages="vm.form.confirmaSenha.$error" role="alert" multiple>
                          <div ng-message="pattern" class="my-message">As senhas devem ser iguais</div>
                        </div>
                </md-input-container>
      
                <span flex></span>

                <md-button ng-click="vm.mudarStatus(vm.status)">
                  <md-icon md-svg-src="assets/img/{{vm.status}}.svg" class="email"></md-icon>
                </md-button>
  
              </div>
            </div>
  
        </md-content>
  
          <div layout="row" layout-align="center center">
            <md-button type="reset" class="md-warn">Limpar</md-button>
              <span flex></span>
                <md-button type="submit" ng-click="vm.form.$valid && vm.salvaCondomino()" class="md-fab md-primary" aria-label="Salvar Dados">
                  <md-icon md-svg-src="assets/img/save.svg"></md-icon>
            </md-button>
          </div>
  </form>
        
              