<md-dialog aria-label="Editar Visita">
  <form ng-cloak  name="editarVisitaForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar Visita</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancelar()">
          <md-icon md-svg-src="../img/cancel.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Alteração Agendamento</h2>
    
          <md-content layout-padding>

                  <md-input-container class="md-block" flex-gt-xs>
                    <label>Nome</label>
                    <input ng-model="vm.visitaConvidado">
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-xs>
                    <label>Hora</label>
                    <input type="time" ng-model="vm.visitaReservaHora">
                  </md-input-container>
          
                  <md-input-container>
                    <label>Data da Reserva</label>
                    <md-datepicker ng-model="vm.visitaReserva" md-open-on-focus required></md-datepicker>
                  </md-input-container>

                <md-input-container class="md-block" flex>
                  <label>Obeservação</label>
                  <input ng-model="vm.visitaCondominoObservacao">
                </md-input-container>

                 <div>
                  <center>
                    <md-button type="reset" class="md-warn">Limpar</md-button>
                    <span flex></span>
                    <md-button type="submit" ng-click="editarVisitaForm.$valid && vm.salvar()" class="md-fab md-primary" aria-label="Salvar Dados">
                    <md-icon md-svg-src="../img/save.svg"></md-icon>
                    </md-button>
                  </center>
                </div>

          </md-content>
       
    </md-dialog-content>
  </form>
</md-dialog>
