<md-dialog aria-label="Nova Visita">
  <form ng-cloak  name="novaVisitaForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nova Visita</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancelar()">
          <md-icon md-svg-src="../img/cancel.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>

      <div class="md-dialog-content">

          <md-content layout-padding>

              <div layout-gt-sm="row">
                <md-input-container style="margin-right: 150px;">
                  <label>Data</label>
                    <md-datepicker ng-model="vm.visitaReserva" md-open-on-focus required></md-datepicker>
                </md-input-container>
             
                <md-input-container>
                  <md-icon md-svg-src="../img/clock.svg" aria-label="Close dialog" style="margin-right: 50px;"></md-icon>
                    <label>Hora</label>
                      <input type="time" ng-model="vm.visitaReservaHora" value="13:50">
                </md-input-container>
              </div>

              <div layout-gt-sm="row" style="margin-left: 1px;">
                <img src="../img/user.svg"class="usuario" >
                  <md-input-container class="md-block" flex-gt-xs>
                    <label>Nome</label>
                       <md-autocomplete flex                   
                        md-selected-item="selectedItem" 
                        md-search-text-change="searchTextChange(selectedItem)"
                        md-search-text="searchText"
                        md-selected-item-change="vm.dados(pessoa)"
                        md-items="pessoa in vm.carregaPessoas(searchText)"
                        md-item-text="pessoa.nome">
                          <md-item-template>
                            <span md-highlight-text="searchText">{{pessoa.nome}}</span>
                            <span >{{pessoa.nome}}</span>
                        </md-item-template>
                      </md-autocomplete>

                  </md-input-container>
                  </div>


                  <md-content class="md-padding">
                      <md-tabs class="md-accent" md-selected="data.selectedIndex">
                        <md-tab id="tab1">
                          <md-tab-label><md-icon md-svg-icon="../img/star.svg" ></md-icon></md-tab-label>
                            <md-tab-body>
                              <div ng-repeat="pessoa in vm.pessoas.data">  
                                <md-content class="md-padding" layout-xs="column" layout="column">
                                  <div flex-xs flex-gt-xs="10" layout="column">
                                    <md-card>
                                      <img ng-src="../img/star.svg" class="md-card-image" alt="Washed Out">
                                        <md-card-title>
                                          <md-card-title-text>
                                            <span class="md-headline">{{pessoa.nome}}</span>
                                          </md-card-title-text>
                                        </md-card-title>
                                    </md-card>
                                  </div>
                                </md-content>
                              </div>

                          </md-tab-body>
                        </md-tab>
                        <md-tab id="tab2" ng-disabled="data.secondLocked">
                          <md-tab-label>TODOS</md-tab-label>
                          <md-tab-body>
                            Todos os contatos vinculados 
                          </md-tab-body>
                        </md-tab>
                      </md-tabs>
                  </md-content>    

                <md-input-container class="md-block">
                  <label>Obeservação</label>
                  <textarea ng-model="vm.visitaCondominoObservacao"></textarea>
                </md-input-container>

                 <div>
                  <center>
                    <md-button type="reset" class="md-warn">Limpar</md-button>
                    <span flex></span>
                    <md-button type="submit" ng-click="novaVisitaForm.$valid && vm.salvar()" class="md-fab md-primary" aria-label="Salvar Dados">
                    <md-icon md-svg-src="../img/save.svg"></md-icon>
                    </md-button>
                  </center>
                </div>

          </md-content>
       
    </md-dialog-content>
  </form>
</md-dialog>

