<div layout="column" flex layout-fill>
    <div layout="row" layout-align="start">
      <md-button class="md-raised" ng-click="vm.novo()" aria-label="Novo Porteiro">
        <md-icon md-svg-src="assets/img/add.svg"></md-icon>
      </md-button>
    </div>
      <div >
        <md-card class="row-card md-whiteframe-20dp" ng-repeat="porteiro in vm.dataset">
           <div layout="row">
             <div layout="row" flex="20" layout-align="center center">
               <md-icon md-svg-src="assets/img/porteiro.svg" style="width: 64px; height: 64px;"></md-icon>
                 </div>
                   <div layout="column" flex>
                     <div layout="row">
                       <span flex></span>
                         <md-menu>
                           <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                             <md-icon md-svg-src="assets/img/edit.svg"></md-icon>                       
                           </md-button>
                             <md-menu-content width="3">
                               <md-menu-item>
                                 <md-button ng-click="vm.editar(porteiro.id)"> Editar </md-button>
                               </md-menu-item>
                            </md-menu-content>
                         </md-menu>
                           <md-menu>
                             <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                               <md-icon md-svg-src="assets/img/more-geen.svg"></md-icon>                      
                             </md-button>
                               <md-menu-content width="3">
                                 <md-menu-item>
                                   <md-button ng-click="vm.excluir($event, porteiro)"> Excluir </md-button>
                                     </md-menu-item>
                               </md-menu-content>
                           </md-menu>
                     </div>
                       <div layout="column" layout-align="start start">
                         <span class="font-size-18 texto-marcador negrito">Nome: {{porteiro.pessoa.nome}}</span>
                         <span class="font-size-16 texto-branco">Código: {{porteiro.id}}</span>
                         <span class="font-size-16 texto-branco">Nascimento: {{porteiro.pessoa.nascimento | date : 'dd/MM/yyyy'}}</span>
                         <span class="font-size-16 texto-branco">E-mail: {{porteiro.usuario.email}}</span>
                       </div>
                  </div>
           </div>
         </md-card>
      </div>
  </div> 
      
  